<!-- <div id="navbar" class="emphasis" > 
    <span style="font-size: xx-large;">TODO</span>
    <ul  style="text-align: end; margin-left: 1180px;">
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
  
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" style="cursor: pointer;" (click)="onLogout()">Logout</a>  
        </li>
      
      </ul>
</div> -->

<!-- 

<nav id="navbar" class="navbar navbar-expand-lg navbar-dark emphasis">
  <div>

    <img id="logo" class="float-start" src="../../assets/images/todo.png" style="height: 55px;">
    <a class="navbar-brand" href="#">Todo</a>
  </div>
  <span class="example-spacer"></span>

  <div id="navbarSupportedContent">
    <ul>
      <li *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
      </li>
      <li *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>

      <li *ngIf="isLoggedIn">
        <a class="nav-link" style="cursor: pointer;" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav> -->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img id="logo" class="float-start" src="../../assets/images/todo.png" style="height: 55px;">
    <span>
      <a *ngIf="!isLoggedIn" class="navbar-brand logo" href="#" >Todo</a>
      <a *ngIf="isLoggedIn" class="navbar-brand logo" href="/todo">Todo</a>
    </span>
    <span class="example-spacer"></span>
    <!-- <span > -->
      <a *ngIf="!isLoggedIn" class="nav-link" routerLink="/register" >Register</a>
    <!-- </span> -->
    <!-- <span > -->
      <a *ngIf="!isLoggedIn" class="nav-link" routerLink="/login" >Login</a>
    <!-- </span> -->

    <!-- <span *ngIf="isLoggedIn"> -->
      <a *ngIf="isLoggedIn" class="nav-link" style="cursor: pointer;" (click)="onLogout()">Logout</a>
    <!-- </span> -->
    <!-- <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon> -->
  </mat-toolbar-row>
</mat-toolbar>